### We have a json file with information about Pokemon that we want to collect into a dataframe. We will use the UniqueID as the pokemon name. Begin with the following code:

`import pandas as pd`

`import requests`

`req = requests.get('https://pastebin.com/raw/r1HwmQt0')`

`pokemon_dict = req.json()`

`pokemon_dict`

#### 1) Make a list containing every Pokemon name (UniqueID). Be careful of Pokemon "MOVE"s that are also in the top level. Your list should not include UniqueIDs that begin like this:"V0013\_MOVE". Only ones that are formatted like this: "V0013\_POKEMON". Your list length should be 151.

In [8]:
import pandas as pd
import requests
req = requests.get('https://pastebin.com/raw/r1HwmQt0')
pokemon_dict = req.json()
pokemon_dict['Pokemon'][0]['Pokemon']['UniqueID']

'V0001_POKEMON_BULBASAUR'

In [34]:
names = [p['TemplateId'] for p in pokemon_dict['Pokemon'] if 'POKEMON' in p['TemplateId']]

In [36]:
len(names), names[:5]

(151,
 ['V0001_POKEMON_BULBASAUR',
  'V0002_POKEMON_IVYSAUR',
  'V0003_POKEMON_VENUSAUR',
  'V0004_POKEMON_CHARMANDER',
  'V0005_POKEMON_CHARMELEON'])

#### 2) Create two new lists. One should contain only the Pokemon name itself (e.g. 'BULBASAUR') with the 'V0001\_POKEMON\_' portion of the string removed. The other should have the Pokemon ID (e.g. 'V0001') stored as a string. All three lists should be the same length.

Note: There is one pokemon with two names separated by an underscore, don't worry about getting both parts of his name

In [39]:
'V0001_POKEMON_BULBASAUR'.split('_')

['V0001', 'POKEMON', 'BULBASAUR']

In [43]:
name_actual = [s.split('_')[-1] for s in names]
len(name_actual), name_actual[:5]

(151, ['BULBASAUR', 'IVYSAUR', 'VENUSAUR', 'CHARMANDER', 'CHARMELEON'])

In [45]:
name_symbol = [s.split('_')[0] for s in names]
len(name_actual), name_symbol[:5]

(151, ['V0001', 'V0002', 'V0003', 'V0004', 'V0005'])

#### 3) Create a dataframe with the ID (e.g. 'V0001') as the index and the pokemon name (e.g. 'Bulbasaur') as the first column.

In [46]:
import pandas as pd

In [54]:
df = pd.DataFrame([name_symbol, name_actual], ).T
df.

In [55]:
df.head()

                1
0
V0001   BULBASAUR
V0002     IVYSAUR
V0003    VENUSAUR
V0004  CHARMANDER
V0005  CHARMELEON